@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* @layer base {
  :root {
    --background: #FAFAFA;
    --foreground: #020202;
    --card: #FAFAFA;
    --card-foreground: #0A0E1A;
    --primary: #007BFF;
    --primary-foreground: 210 20% 98%;
    --secondary: #EBF0F6;
    --secondary-foreground: #1A2A38;
    --muted: #9CA3AF;
    --muted-foreground: #6E7B8A;
    --destructive: #FF5B51;
    --destructive-foreground: #FAFAFA;
    --border: #E4E8EE;
    --input: #E4E8EE;
    --ring: #0A0E1A;
    --radius: 0.5rem;
  }

  .dark {
    --background: #0A0E1A;
    --foreground: #FAFAFA;
    --card: #121212;
    --card-foreground: #FAFAFA;
    --primary: #3A8DFF;        
    --primary-foreground: #EAF3FF;
    --secondary: #2B3540;         
    --secondary-foreground: #EBF0F6;
    --muted: #4E5A65;               
    --muted-foreground: #9CA3AF;    
    --destructive: #FF5B51;         
    --destructive-foreground: #FAFAFA;
    --border: #3A3F4B;  
    --input: #3A3F4B;     
    --ring: #4C5670;
  }
} */